<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="main.css">

  <title>DDTM du Pas-de-Calais - Signature</title>
</head>
<body>
  <div id="app" class="container" v-cloak>
    <div class="jumbotron">
      <h1>Générateur de signature pour mail</h1>
      <h2>DDTM du Pas-de-Calais</h2>
    </div>
    <div class="row">
      <!-- ================ TEXTE ================ -->
      <div class="col-md-5">

        <div class="input-group mb-3">
          <input v-model="prenom" type="text" class="form-control" placeholder="Prénom" aria-label="Prénom">
          <input v-model="nom" type="text" class="form-control" placeholder="NOM" aria-label="NOM">
        </div>

        <div class="input-group mb-3">
        <textarea v-model="fonction" class="form-control form-control-sm" placeholder="Poste / fonction (1 ou 2 lignes)
Bureau / département (1 ou 2 lignes)"></textarea>
        </div>

        <div class="input-group mb-3">
          <input v-model="fix" type="text" class="form-control" placeholder="Téléphone fixe" aria-label="Prénom">
          <input v-model="mobile" type="text" class="form-control" placeholder="Téléphone portable pro" aria-label="NOM">
        </div>

        <div  class="input-group mb-3">
          <select v-model="adr" class="form-control mb-2">
            <option v-for="(siege, adresse) in adresses" :value="adresse">
              {{siege}}
            </option>
          </select>
        </div>

        <div class="signaturetype p-2">
          <select v-model="avecImage" class="form-control mb-2">
            <option :value=false>signature textuelle</option>
            <option :value=true>signature Marianne</option>
          </select>
          <div class="imagehelp">
            <div v-if="!avecImage">
              <b>Avantages :</b>
              <div>
                <ul>
                  <li>Cette signature <b>est éco-responsable</b> car elle nécessite beaucoup moins de ressources.</li>
                  <li>La signature est bien visible même si le client de messagerie est configuré pour ne pas télécharger les images.</li>
                </ul>
              </div>
              <b>Inconvénient :</b>
              <div>
                <ul>
                  <li>Cette signature ne respecte pas complètement la charte graphique de l'État, car sans logo Marianne. </li>
                </ul>
              </div>
            </div>
            <div v-if="avecImage">
              <b>Avantage :</b>
              <div>
                <ul>
                  <li>Cette signature respecte complètement la charte graphique de l'État.</li>
                </ul>
              </div>
              <b>Inconvénient :</b>
              <div>
                <ul>
                  <li>Cette signature <b>n'est pas très écologique</b> car l'image est stockée dans la boîte d'envoi et dans la boîte de réception du destinataire.</li>
                  <li>Si le client de messagerie est configuré pour ne pas télécharger les images, on ne voit pas le texte présent sur l'image.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
      <dir class="col-md-7 row">
      <!-- ================ RESULTATS ================ -->
      <div id="result" v-show="!code" class="col-lg-7">
<div style="all:initial;display:block;color:#444;">
  <p style="all:inherit;font-family:sans-serif;margin-bottom:1em;font-size:1rem;">
    <b style="font-size:1rem;color:#000;">{{title(prenom)}} {{nom.toUpperCase()}}</b><br>
    <span style="font-size:0.85rem">{{{ br(fonction) }}}</span>
  </p>
  <p style="all:inherit;font-family:sans-serif;margin-bottom:1em;font-size:0.85rem;"><template v-if="!avecImage">
    DDTM du Pas-de-Calais<br></template>
    {{{ adr }}}<br>
    Tél : <a v-if="fix" :href="'tel:'+fix" style="color:black;text-decoration:none;font-size:0.85rem">{{fix}}</a>{{ fix != "" && mobile != "" ? " / " : ""}}<a v-if="mobile" :href="'tel:'+mobile" style="color:black;text-decoration:none;font-size:0.85rem">{{mobile}}</a><br>
    <b><a href="https://www.pas-de-calais.gouv.fr/Services-de-l-Etat/Les-Services-de-l-Etat/DDTM" style="color:black;text-decoration:none;font-size:0.85rem">www.pas-de-calais.gouv.fr</a></b><br>
  </p>
  <img v-if="avecImage" :src="'data:image/png;base64, '+logoDDTMpng" style="all:inherit;margin-bottom:1rem;height:80px">
</div>
      </div>
      <pre v-show="code" class="col-lg-7">{{signature}}</pre>
      <!-- ================ ACTION ================ -->
      <div class="col-lg-5">
        <button type="button" class="btn btn btn-sm m-3" :class="{'btn-outline-secondary':!code, 'btn-secondary':code}" @click="toggleCode" v-show="debug">Afficher le code HTML</button>
        <button type="button" class="btn m-3" :class="{'btn-success':copied, 'btn-primary':!copied }" @click="copied=true" data-clipboard-text="{{signature}}">{{copied ? "La signature est copiée" : "Copier la signature"}}</button>
      </div>
      <!-- ================ INSTRUCTIONS ================ -->
      <div class="alert alert-success" v-if="copied">
          Le code HTML de votre signature a été copié dans le presse-papier. Vous pouvez à présent :
          <ol>
            <li>
              vous rendre dans les paramètres de votre compte <code>{{prenom.toLowerCase()}}.{{nom.toLowerCase()}}@pas-de-calais.gouv.fr</code> du logiciel de courrier,
            </li>
            <li>
              coller (<kbd>Ctrl+V</kbd>) le code HTML copié dans le champ « Texte de signature »,
            </li>
            <li>
              cocher la case « Utiliser HTML ».
            </li>
          </ol>
            <em>
              Si présente, la case « Apposer la signature à partir d'un fichier » <b>doit être décochée</b>.
            </em>
        </div>
      </dir>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@1.0.28/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>
  <script src="adresses.js"></script>
  <script src="base64.js"></script>
  <script src="main.js"></script>
</body>
</html>
