<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="main.css">

  <title>DDTM Arras - Signature</title>
</head>
<body>
  <div id="app" class="container" v-cloak>
    <div class="breadcrumb">
      <h1>DDTM Arras - générateur de signature pour mail</h1>
    </div>
    <div class="row">
      <!-- ================ TEXTE ================ -->
      <div class="col-md-5">

        <div class="input-group mb-3">
          <input v-model="prenom" type="text" class="form-control" placeholder="Prénom" aria-label="Prénom">
          <input v-model="nom" type="text" class="form-control" placeholder="NOM" aria-label="NOM">
        </div>

        <div class="input-group mb-3">
        <textarea v-model="fonction" class="form-control form-control-sm" placeholder="Votre fonction...
sur deux lignes éventuellement."></textarea>
        </div>

        <div class="input-group mb-3">
          <input v-model="fix" type="text" class="form-control" placeholder="Téléphone fixe au bureau" aria-label="Prénom">
          <input v-model="mobile" type="text" class="form-control" placeholder="Téléphone portable" aria-label="NOM">
        </div>
        <div class="imagetype p-2">
          <select v-model="imgType" class="form-control mb-2">
            <option value="extSVG"  selected >Lien vers l'image SVG [&thinsp;0&thinsp;Ko&thinsp;]</option>
            <option value="intPNG">Image incorporé en PNG [&thinsp;8&thinsp;Ko&thinsp;]</option>
            <option value="intSVG">Image incorporé en SVG [&thinsp;20&thinsp;Ko&thinsp;]</option>
          </select>
          <div v-if="imgType=='extSVG'">
            <b>Avantages :</b>
            <ul>
              <li>C'est le mode le plus écologique.</li>
              <li>L'image n'est stockée ni dans la boite d'envoi, ni dans la boite de réception du destinataire.</li>
              <li>La qualité des images SVG est impeccable quelle que soit la résolution.</li>
            </ul>
            <b>Inconvénient :</b>
            <ul>
              <li>Si le client de messagerie est configuré à ne pas télécharger les images, le logo ne sera pas visible (le reste de la signature si).</li>
            </ul>
          </div>
          <div v-if="imgType=='intSVG'">
            <b>Avantages :</b>
            <ul>
              <li>La qualité des images SVG est impeccable quelle que soit la résolution.</li>
              <li>Le logo est visible toujours par le destinataire (sauf s'il a interdit les messages en html).</li>
            </ul>
            <b>Inconvénients :</b>
            <ul>
              <li>C'est le mode le moins écologique.</li>
              <li>L'image est stockée dans la boite d'envoi et dans la boite de réception du destinataire.</li>
              <li>L'image SVG est 2,5 fois plus grand que le PNG.</li>
            </ul>
          </div>
          <div v-if="imgType=='intPNG'">
            <b>Avantages :</b>
            <ul>
              <li>Le logo est visible toujours par le destinataire (sauf s'il a interdit les messages en html).</li>
              <li>L'image PNG est 4 fois plus petit que le SVG.</li>
            </ul>
            <b>Inconvénients :</b>
            <ul>
              <li>Ce mode n'est pas écologique.</li>
              <li>L'image est stockée dans la boite d'envoi et dans la boite de réception du destinataire.</li>
              <li>La qualité de l'image PNG n'est pas aussi bonne que celle du SVG.</li>
            </ul>

          </div>
        </div>
        <!-- <button v-if="filename" @click="DownloadTextFile" class="btn" v-bind:class="{ 'btn-success' : valide, 'btn-danger' : !valide }">Télécharger «  »</button> -->
      </div>
      <!-- ================ RESULTATS ================ -->
      <div id="result" v-show="!code" class="col-md-4">
<div>
  <p>
    <b>{{title(prenom)}} {{nom.toUpperCase()}}</b><br>
    <span style="font-size:0.85em">{{{ br(fonction) }}}</span>
  </p>
  <p style="font-size:0.85em">
    100 avenue Winston Churchill<br>
    CS 10007 &ndash; 62022 ARRAS Cedex<br>
    Tél : {{fix}}{{ fix != "" && mobile != "" ? " / " : ""}}{{mobile}}<br>
    <b>www.pas-de-calais.gouv.fr</b>
  </p>
  <img v-if="imgType=='extSVG'" src="https://ddtm-arras.github.io/logo/images/DDTMsig.svg" style="height:5em"><img v-if="imgType=='intSVG'" :src="'data:image/svg+xml,'+logoDDTMsvg" style="height:5em"><img v-if="imgType=='intPNG'" :src="'data:image/png;base64, '+logoDDTMpng" style="height:5em">
</div>
      </div>
      <pre v-show="code" class="col-md-4">{{signature}}</pre>
      <!-- ================ ACTION ================ -->
      <div class="col-md-3">
        <button type="button" class="btn btn btn-sm m-3" :class="{'btn-outline-secondary':!code, 'btn-secondary':code}" @click="toggleCode">Afficher le code HTML</button>
        <button type="button" class="btn m-3" :class="{'btn-success':copied, 'btn-primary':!copied }" @click="copied=true" data-clipboard-text="{{signature}}">{{copied ? "La signature est copiée" : "Copier la signature"}}</button>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@1.0.28/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>
  <script src="base64.js"></script>
  <script src="main.js"></script>
</body>
</html>
