<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="main.css">

  <title>DDTM du Pas-de-Calais - Signature</title>
</head>
<body>
  <div id="app" class="container" v-cloak>
    <div class="jumbotron">
      <h1>Générateur de signature pour mail</h1>
      <h2>DDTM du Pas-de-Calais</h2>
    </div>
    <div class="row">
      <!-- ================ TEXTE ================ -->
      <div class="col-md-5">

        <div class="input-group mb-3">
          <input v-model="prenom" type="text" class="form-control" placeholder="Prénom" aria-label="Prénom">
          <input v-model="nom" type="text" class="form-control" placeholder="NOM" aria-label="NOM">
        </div>

        <div class="input-group mb-3">
        <textarea v-model="fonction" class="form-control form-control-sm" placeholder="Poste / fonction (1 ou 2 lignes)
Bureau / département (1 ou 2 lignes)"></textarea>
        </div>

        <div class="input-group mb-3">
          <input v-model="fix" type="text" class="form-control" placeholder="Téléphone fixe" aria-label="Prénom">
          <input v-model="mobile" type="text" class="form-control" placeholder="Téléphone portable pro" aria-label="NOM">
        </div>
        <div class="imagetype p-2">
          <select v-model="imgType" class="form-control mb-2">
            <option value="ext">Lien vers l'image SVG/PNG [&thinsp;0&thinsp;Ko&thinsp;]</option>
            <option value="intPNG">Image incorporé en PNG [&thinsp;3&thinsp;Ko&thinsp;]</option>
          </select>
          <div class="imagehelp">
            <div v-if="imgType=='ext'">
              <b>Avantages :</b>
              <ul>
                <li>C'est mode <b>est écologique</b> car l'image n'est stockée ni dans la boîte d'envoi, ni dans la boîte de réception du destinataire.</li>
                <li>Ce mode utilise SVG ou PNG en fonction de la compatibilité du logiciel mail.</li>
              </ul>
              <b>Inconvénients :</b>
              <ul>
                <li>Si le client de messagerie est configuré pour ne pas télécharger les images, le logo ne sera pas visible (le reste de la signature si).</li>
                <li>Il est possible qu'avec des clients mails très anciens ça ne fonctionne pas bien.</li>
              </ul>
            </div>
            <div v-if="imgType=='intPNG'">
              <b>Avantages :</b>
              <ul>
                <li>Le logo est toujours visible par le destinataire (sauf s'il a interdit les messages en html).</li>
                <li>L'image PNG est d'une petite taille.</li>
              </ul>
              <b>Inconvénients :</b>
              <ul>
                <li>Ce mode <b>n'est pas très écologique</b> car l'image est stockée dans la boîte d'envoi et dans la boîte de réception du destinataire.</li>
                <li>La qualité de l'image PNG n'est pas aussi bonne que celle de l'image SVG.</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- <button v-if="filename" @click="DownloadTextFile" class="btn" v-bind:class="{ 'btn-success' : valide, 'btn-danger' : !valide }">Télécharger «  »</button> -->
      </div>
      <!-- ================ RESULTATS ================ -->
      <div id="result" v-show="!code" class="col-md-4">
<div>
  <p style="font-size:1rem">
    <b>{{title(prenom)}} {{nom.toUpperCase()}}</b><br>
    <span style="font-size:0.85rem">{{{ br(fonction) }}}</span>
  </p>
  <p style="font-size:0.85rem">
    100 avenue Winston Churchill<br>
    CS 10007 &ndash; 62&#8239;022 ARRAS Cedex<br>
    Tél : <a v-if="fix" :href="'tel:'+fix" style="color:black;text-decoration:none;font-size:0.85rem">{{fix}}</a>{{ fix != "" && mobile != "" ? " / " : ""}}<a v-if="mobile" :href="'tel:'+mobile" style="color:black;text-decoration:none;font-size:0.85rem">{{mobile}}</a><br>
    <b><a href="https://www.pas-de-calais.gouv.fr/Services-de-l-Etat/Les-Services-de-l-Etat/DDTM" style="color:black;text-decoration:none;font-size:0.85rem">www.pas-de-calais.gouv.fr</a></b><br>
  </p>
  <picture v-if="imgType=='ext'" style="height:80px">
    <source type="image/svg+xml" srcset="https://ddtm62.github.io/logo/images/DDTMszp.svg">
    <img src="https://ddtm62.github.io/logo/images/DDTMszp.png" style="height:80px">
  </picture><img v-if="imgType=='intPNG'" :src="'data:image/png;base64, '+logoDDTMpng" style="height:80px">
</div>
      </div>
      <pre v-show="code" class="col-md-4">{{signature}}</pre>
      <!-- ================ ACTION ================ -->
      <div class="col-md-3">
        <button type="button" class="btn btn btn-sm m-3" :class="{'btn-outline-secondary':!code, 'btn-secondary':code}" @click="toggleCode">Afficher le code HTML</button>
        <button type="button" class="btn m-3" :class="{'btn-success':copied, 'btn-primary':!copied }" @click="copied=true" data-clipboard-text="{{signature}}">{{copied ? "La signature est copiée" : "Copier la signature"}}</button>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@1.0.28/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>
  <script src="base64.js"></script>
  <script src="main.js"></script>
</body>
</html>
