[v-cloak] {display: none}

#result {
    border-left: 1px solid lightgray;
}

pre{
  background-color: lightgray;
  font-size: .7em;
}

.signaturetype {
    background-color: #e9ecef;
}
.imagehelp {
  font-size: .84em;
}

@media (min-width: 576px) {
  .jumbotron {
      padding: 1rem 2rem;
  }
}
.nav-tabs {
  border-bottom: none;
}
.nav-tabs .nav-item {
  margin-left: .4em;
  z-index: 100;
  margin-bottom: -3px;
}
.nav-tabs .nav-item .nav-link.active {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  font-weight: bold;
  border-bottom: none;
}
.alert-success kbd {
  background-color: #797;
}
